@import "compass";
@import "compass/reset";
@import "variables";
@import "mixins";
@import "base";
@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

@mixin animation($detail){
    -webkit-animation: $detail;
       -moz-animation: $detail;
        -ms-animation: $detail;
            animation: $detail;
}

@mixin transition($detail){
    -webkit-transition: $detail;
       -moz-transition: $detail;
        -ms-transition: $detail;
            transition: $detail;
}

@mixin transform($detail){
    -webkit-transform: $detail;
       -moz-transform: $detail;
        -ms-transform: $detail;
            transform: $detail;
}

@mixin perspective($detail){
    -webkit-perspective: $detail;
       -moz-perspective: $detail;
        -ms-perspective: $detail;
            perspective: $detail;
}

@mixin transform-style($detail){
    -webkit-transform-style: $detail;
       -moz-transform-style: $detail;
        -ms-transform-style: $detail;
            transform-style: $detail;
}

body{
    width: 100%; 
    height: 100%;
    background-color: #323E42;
    font-family: 'Times New Roman';
}
.sections{
    position: absolute;
    z-index: 2;
    top:40.5em;
    width: 100%; 
    height: 100%; 
    background-color: transparent;
    text-align: center; 
    color: #DB5E5E;
    @include animation(colorize 2s cubic-bezier(0, 0, .80, .4) 1);
}
.sectionA{
    z-index: 2;
    width: 100%; 
    min-height: 20em; 
    background-color:#E2E3E8;
    text-align: center; 
    color: #DB5E5E;
}
.sectionB{
    z-index: 4;
    width: 100%; 
    min-height: 1em; 
    background-color: #273033;
    text-align: center; 
    color: #DB5E5E;
}
.sectionC{
    z-index: 2;
    width: 100%; 
    min-height: 20em; 
    background-color: transparent;
    color: #DB5E5E;
}

#nav_padding{
    min-height: 46.5em;
    background-color: #323E42;
}

#nav_padding_content{
    position:sticky;
    z-index: 0; width: 100%; height: 100%;
    background-color: #000000;
    top: 0;
}
#nav_padding_screen{
    position: absolute;
    top:0;
    z-index: 1; width: 100%; height: 100%;
    background-color:transparent; 
    background-image:
        linear-gradient(to bottom, 
            rgba(50, 62, 66, 1),rgba(50, 62, 66, 0.5),
            rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),
            rgba(226, 227, 232, 1)
        );
}

#nav_padding_screen_doodle{
    height: 10%;
    width: 70%;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:0;
    bottom:0;
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
    background-color: rgba(50, 62, 66, 0.1);
    border-radius: 5em 5em;
    border-bottom: 3px solid rgba(50, 62, 66, 0.1);
    font-family: 'Bilbo Swash Caps', cursive;
    color: rgba(30, 82, 36, 0.5);
    font-size: 200%;
    padding-top: 2.3%;
}

.glow{
    text-shadow: 0 0 40px rgba(20, 32, 36, 0.9);
}

#siteinfo{
    position: absolute;
    z-index: 4;
    float:left;clear:both;
    width: 100%; 
    height: 2em; 
    text-align: center; 
    padding-top: 1em;
    color: #BFBFCF;
    background-color: #323E42;
    font-size: 120%;
}

/*---------------------------------------------------------------------------*/

#navibar{
    position: fixed;
    z-index: 5;
    width: 100%; 
    font-family: 'Bilbo Swash Caps', cursive;
}

.large{ 
    min-height: 11em; 
    background-color: transparent; 
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    -webkit-transition: min-height 0.5s, -webkit-transform 0.5s, background-color 0.5s;
    transition: min-height 0.5s, transform 0.5s, background-color 0.5s;
    @include transform(translateZ(260px));
}
.large li{ margin-top: 45px; }

.small{ 
    min-height: 3em; 
    border-bottom-right-radius: 5em 5em;
    background-color: #323E42; 
    border-bottom: 3px solid #6C868F; 
    border-right: 3px solid #6C868F;
    -webkit-transition: min-height 0.5s, -webkit-transform 0.5s, background-color 0.5s;
    transition: min-height 0.5s, transform 0.5s, background-color 0.5s;
    @include transform(translateZ(260px));
}
.small li{ margin-top: 17px;}

.hide{ 
    background-color: #323E42;
    -webkit-transition: min-height 0.5s, -webkit-transform 0.5s, background-color 0.5s;
    transition: min-height 0.5s, transform 0.5s, background-color 0.5s;
    @include transform(translate3d(-100%,0,260px));
}
.reset{ 
    @include transform(translate3d(0, -8em,0));
    height: 0; 
    background-color: transparent; 
    color: transparent;
}

#naviball{
    top: -92px;
    left: -92px;
    border-radius: 50%;
    border: 3px solid #6C868F;
    position: fixed;
    z-index: 6;
    width: 92px; 
    height: 92px;
    background-color: #323E42; 
    text-align: right; 
    font-size: 200%;
    color: #6C868F;
    @include transition(0.5s);
}
#naviballburg { position: absolute; bottom: 12px; right: 15px; }
#naviball:hover {color: #0F1314}
.showball{ -webkit-transform:translate3d(46px, 46px,260px); background-color: #323E42;}

#naviitem{
    position: relative;
    z-index: 6;
    width: 100%; 
    height: 100%;
    @include transition(0.5s);
}
.itemlarge{font-size: 200%; top: 50px;}
.itemsmall{font-size: 150%; top: 5px;}
.item1{float: right; right: 10%;}
.item2{float: right; right: 15%;}
.item3{float: right; right: 20%;}
.item4{float: right; right: 25%;}

.naviitem_content{
    position: relative;
    top: 7px;
    text-align: center;
    color: #BFBFCF;
}

#naviline{
    position: fixed;
    z-index: 5;
    width:100%;
    height:3px;
    background-color: rgba(108,134,143,0.8);
    @include transform(translateZ(260px));
}
#navilineInd{
    position: fixed;
    z-index: 5;
    width:25%;
    height:3px;
    background-color: rgba(219,94,94,0.8);
    @include transition(0.5s);
}

/*---------------------------------------------------------------------------*/

.blueprint{
    background-image: url(../image/blue_print.jpg);
    background-color: transparent;
    background-position: right top;
    background-size: 100%;
    border-top:10px solid rgba(0, 0, 0, 0.42);
    border-bottom:10px solid rgba(0, 0, 0, 0.42);
    border-radius: 4px;
    z-index: -99;
    @include transform(translateZ(250px));
    @include perspective(10000px);
}

.blueprint_doodle{
    height: 10%;
    width: 70%;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-color: transparent;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 300%;
    padding-top: 5%;
}

#inkdrop{
    background-repeat: no-repeat; 
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-color: #323E42;
    position: fixed;
    top:0;
    z-index: -1;
    width:100%;
    height:200%;
    transition: background 1s ease-in-out;
}

.inkdropped{
    background:
        -webkit-linear-gradient(top, rgba(50,62,66,1) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 50%,rgba(50,62,66,1) 80%,rgba(50,62,66,1) 100%),
        url(../image/Cortical-Columns[4].jpg);
}

#aboutSection{
    height:100%;
    border-top:10px solid rgba(0, 0, 0, 0.42);
    border-bottom:10px solid rgba(0, 0, 0, 0.42);
    border-radius: 4px;
    font-size: 300%;
}

#contactSection{
    height:100%;
    background:
        -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.01) 20%,rgba(0,0,0,0.01) 80%,rgba(0,0,0,0.65) 100%);
}

#sketchSection{
    height:100%;
}

/*---------------------------------------------------------------------------*/

.sketchlist{
    top:20%;
    bottom:0;
    margin: auto;
    transition: transform 1s;
    @mixin transform-style(preserve-3d){
    @include transition(1s);
    z-index: 8;
    
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: relative;
    @include perspective(0px);
}

.sketch{
    z-index: 8;
    display: block;
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    border-radius: 10px;
}

.s1{
    @include transform(rotateY(0deg) translateZ(250px));
}
.s2{
    @include transform(rotateY(120deg) translateZ(250px));
}
.s3{
    @include transform(rotateY(240deg) translateZ(250px));
}
.s4{
    @include transform(rotateY(20deg) translateZ(2px));
}
    
/*---------------------------------------------------------------------------*/

.column{
    display: inline-block;
    float:left;
    width:33.3%;
    bottom:0;
}
.c1{
    height:60%;
}
.c2{
    height:40%;
    font-size: 150%;
}

.fa{
    @include transition(1s);
}

/*---------------------------------------------------------------------------*/

.modal{
    height: 300px;
    width: 500px;
    position: fixed;
    z-index: 100;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    text-align: center;
    opacity: 0.9;
    background-image: -webkit-linear-gradient(top, rgba(50,62,66,1) 0%,rgba(50,62,66,1) 70%,rgba(0,0,0,0) 100%);
    @include transform(translateZ(250px));
    border: 10px solid rgba(0, 0, 0, 0.62);
    border-radius: 10px;
    color: #BFBFCF;
    font-size: 120%;
}

.fa-times-circle{
    margin-left:-100%;
    padding-left:16px;
}

/*---------------------------------------------------------------------------*/

img {
    @include animation(colorize 2s cubic-bezier(0, 0, .80, .4) 1);
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: block;
    margin: 1.2em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}